[gibsws]
proto=https
uri=dwib-web-dose.cloud.health.ge.com

[gibsdb]
user=
pwd=

[perfdb]
user=
pwd=
host=3.232.182.165
port=3306
schema=performance

[job]
synced_period=3600
sync_mode=system
delay=36
delay_unit=hours