server {
  listen 443;
  server_name dovel;
  ssl on;
  ssl_certificate       /etc/ssl/certs/dovel_chain.crt;
  ssl_certificate_key   /etc/ssl/certs/dovel.key;
  
  root /var/www/webdav/files;
  client_body_temp_path   /var/www/webdav/temp;

  location / {
    dav_methods  PUT DELETE MKCOL COPY MOVE;
    dav_ext_methods  PROPFIND OPTIONS;
    create_full_put_path  on;
    dav_access  user:rw group:rw all:rw;
    autoindex  on;
    client_max_body_size  1G;   # File size limit for new files

    # auth_basic  "closed site";
    # auth_basic_user_file /var/www/webdav/.htpasswd;
  }
}
